# Python
backend/__pycache__/
backend/.venv/
backend/*.db
backend/templates/
backend/.env

# Node
wearit-frontend/node_modules/
wearit-frontend/dist/
wearit-frontend/.env
wearit-frontend/.env.production

# Env
.env
.env.production


